apiVersion: v1
clusters:
- cluster:
    # certificate-authority: /etc/kubernetes/pki/ca.pem
    certificate-authority-data: {{ ("%s/ca.pem" % (cert.dir)) | cat_file | b64encode}}
    server: https://{%- if loadbalance.single %}{{advertise}}:6443{% else %} {%- if 'domain_name' in loadbalance %}{{loadbalance.domain_name}}:{{loadbalance.port}}{% else %}{{ loadbalance.ip }}:{{loadbalance.port}}{% endif %} {% endif %}
  
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes
current-context: kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    # client-certificate: /etc/kubernetes/pki/admin.pem
    # client-key: /etc/kubernetes/pki/admin.key
    client-certificate-data: {{ ("%s/%s/admin.pem" % (cert.dir,inventory_hostname)) | cat_file | b64encode}}
    client-key-data: {{ ("%s/%s/admin.key" % (cert.dir,inventory_hostname)) | cat_file | b64encode}}
