# dest /etc/modules-load.d/k8s_module.conf
ip_set
ip_tables
ip_vs
ip_vs_dh
ip_vs_fo
ip_vs_ftp
ip_vs_lblc
ip_vs_lblcr
ip_vs_lc
ip_vs_nq
ip_vs_rr
ip_vs_sed
ip_vs_sh
ip_vs_wlc
ip_vs_wrr
ipip
ipt_REJECT
ipt_rpfilter
ipt_set
# nf_conntrack
# nf_conntrack_ipv4
overlay
br_netfilter
bridge
xt_set
{{ "nf_conntrack_ipv4" if  ansible_kernel.split('-')[0] is version('4.19.0', '<') else "nf_conntrack" }}
